html { font-family: "Lucida Grande","Trebuchet MS",sans-serif; font-size: 12pt; }
body { max-width: 60em; }
.title  { text-align: center; }
.todo   { color: red; }
.done   { color: green; }
.tag    { background-color:lightblue; font-weight:normal }
.target { }
.timestamp { color: grey }
.timestamp-kwd { color: CadetBlue }
p.verse { margin-left: 3% }
pre {
  border: 1pt solid #AEBDCC;
  background-color: #F3F5F7;
  padding: 5pt;
  font-family: monospace;
  font-size: 90%;
  overflow:auto;
}
table { border-collapse: collapse; }
td, th { vertical-align: top; }
dt { font-weight: bold; }
div.figure { padding: 0.5em; }
div.figure p { text-align: center; }
.linenr { font-size:smaller }
.code-highlighted {background-color:#ffff00;}
.org-info-js_info-navigation { border-style:none; }
#org-info-js_console-label { font-size:10px; font-weight:bold;
  white-space:nowrap; }
.org-info-js_search-highlight {background-color:#ffff00; color:#000000;
  font-weight:bold; }

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
  font-size: 80%;
}

sup a:link, sup a:visited {
  text-decoration: none;
  color: #c00;
}

sup a:before { content: "["; color: #999; }
sup a:after { content: "]"; color: #999; }
